@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: hsla(0, 100%, 50%, 1);

  background: radial-gradient(
    circle,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(6, 100%, 27%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(6, 100%, 27%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(0, 100%, 50%, 1) 0%,
    hsla(6, 100%, 27%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ff0101", endColorstr="#890e00", GradientType=1 );
}
